@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* don't indent blockquote letters in the main chapters (only in the epilogue) */
section[epub|type~="chapter"] blockquote[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

p[epub|type~="se:letter.dateline"]{
	font-variant: small-caps;
	font-weight: bold;
	text-align: right;
}

p[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

abbr.name{
	white-space: nowrap;
}
